{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



    <div style="background-color: #1d70b8; padding: 20px 30px; margin-bottom: 30px;">
      <h1 class="govuk-heading-xl" style="color: #ffffff; margin-bottom: 0;">Home</h1>
    </div>

    <div class="govuk-grid-row">


      <!-- Court proceedings -->
      <div class="govuk-grid-column-one-third">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Court proceedings</h2>
          </div>
          <div class="govuk-summary-card__content">
            <ul class="govuk-list">
              <li><a class="govuk-link" href="#">Check-in to hearing</a></li>
              <li><a class="govuk-link" href="#">Create case or application</a></li>
              <li><a class="govuk-link" href="#">Download hearing lists</a></li>
              <li><a class="govuk-link" href="#">Assign case by URN</a></li>
              <li><a class="govuk-link" href="#">Assign case by hearing date</a></li>
              <li><a class="govuk-link" href="#">Find your case by URN</a></li>
              <li><a class="govuk-link" href="/bulk-uploads/complaints-home">Manage your complaints files</a></li>
              <li><a class="govuk-link" href="/bulk-result/search-list">Extract or result complaints files</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="govuk-grid-row">


      {% endblock %}


    </div>
  </div>