{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h1 class="govuk-heading-xl">
      View your complaints files
    </h1>


    <div class="govuk-!-margin-bottom-6">

      <form method="get">

        <div class="govuk-form-group">
          <label class="govuk-label" for="search">
            Find by reference number
          </label>

          <div style="display:flex; gap:0.5rem; align-items:center;">

            <input class="govuk-input govuk-input--width-10" id="search" name="search" type="search"
              value="{{ search }}">

            <button class="govuk-button govuk-!-margin-bottom-0">
              Search
            </button>

          </div>
        </div>

      </form>
      <form>

        <!-- Filters wrapper -->
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Filters
            </span>
          </summary>

          <div class="govuk-details__text">

            <!-- STATUS CHECKBOXES -->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Status
                </legend>

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="pending" name="status" type="checkbox"
                      value="Awaiting court decision">
                    <label class="govuk-label govuk-checkboxes__label" for="pending">
                      Awaiting court decision
                    </label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="failed" name="status" type="checkbox"
                      value="Upload failed">
                    <label class="govuk-label govuk-checkboxes__label" for="failed">
                      Upload failed
                    </label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="accepted" name="status" type="checkbox"
                      value="Accepted by court">
                    <label class="govuk-label govuk-checkboxes__label" for="accepted">
                      Accepted by court
                    </label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="rejected" name="status" type="checkbox"
                      value="Rejected by court">
                    <label class="govuk-label govuk-checkboxes__label" for="rejected">
                      Rejected by court
                    </label>
                  </div>

                </div>
              </fieldset>
            </div>

            <!-- DATE RANGE -->
            <div class="govuk-form-group">

              <fieldset class="govuk-fieldset govuk-!-margin-bottom-4" role="group">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Date uploaded
                </legend>

                <!-- FROM DATE -->
                <div class="govuk-date-input govuk-!-margin-bottom-3">
                  <div class="govuk-date-input__item">
                    <label class="govuk-label govuk-date-input__label" for="from-day">Day</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-day"
                      name="from-day" type="text">
                  </div>

                  <div class="govuk-date-input__item">
                    <label class="govuk-label govuk-date-input__label" for="from-month">Month</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-month"
                      name="from-month" type="text">
                  </div>

                  <div class="govuk-date-input__item">
                    <label class="govuk-label govuk-date-input__label" for="from-year">Year</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-year"
                      name="from-year" type="text">
                  </div>
                </div>

                <p class="govuk-body govuk-!-margin-bottom-3">to</p>

                <!-- TO DATE -->
                <div class="govuk-date-input">
                  <div class="govuk-date-input__item">
                    <label class="govuk-label govuk-date-input__label" for="to-day">Day</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-day" name="to-day"
                      type="text">
                  </div>

                  <div class="govuk-date-input__item">
                    <label class="govuk-label govuk-date-input__label" for="to-month">Month</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-month"
                      name="to-month" type="text">
                  </div>

                  <div class="govuk-date-input__item">
                    <label class="govuk-label govuk-date-input__label" for="to-year">Year</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="to-year" name="to-year"
                      type="text">
                  </div>
                </div>

              </fieldset>
            </div>

            <!-- SUBMIT -->
            <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
              Apply filters
            </button>

          </div>
        </details>

      </form>

    </div>

    {% set complaints = [
    {
    ref: "KUJ5953G",
    date: "16 June 2026",
    status: "Processing",
    action: "",
    actionLink: "/bulk-uploads/error-report",
    file: "complaints-list-KM",
    user: "Sarah Hall"
    },
    {
    ref: "MTR4821Q",
    date: "10 June 2026",
    status: "Accepted by court",
    action: "",
    actionLink: "",
    file: "complaints-list-AB",
    user: "James Richards"
    },
    {
    ref: "VNA9056D",
    date: "9 June 2026",
    status: "Processing",
    action: "",
    actionLink: "",
    file: "complaints-list-TR",
    user: "Anna Rossi"
    },
    {
    ref: "ZXE6402H",
    date: "7 June 2026",
    status: "Rejected by court",
    action: "",
    actionLink: "",
    file: "complaints-list-QW",
    user: "Mareya Khan"
    },
    {
    ref: "BGC7591R",
    date: "6 June 2026",
    status: "Accepted by court",
    action: "",
    actionLink: "",
    file: "complaints-list-ZP",
    user: "Ahmet Kaya"
    },
    {
    ref: "PQU3184T",
    date: "5 June 2026",
    status: "Documents added",
    action: "",
    actionLink: "/bulk-uploads/supporting-doc",
    file: "complaints-list-HJ",
    user: "Donald Glover"
    },
    {
    ref: "JKL1738P",
    date: "4 June 2026",
    status: "Accepted by court",
    action: "",
    actionLink: "/bulk-uploads/error-report",
    file: "complaints-list-LN",
    user: "Sarah Hall"
    },
    {
    ref: "HSL2743D",
    date: "30 May 2026",
    status: "Rejected by court",
    action: "",
    actionLink: "",
    file: "complaints-list-RD",
    user: "Ahmet Kaya"
    }
    ] %}

    {% set searchTerm = search | upper %}

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Reference</th>
          <th scope="col" class="govuk-table__header">Date uploaded</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">File name</th>
          <th scope="col" class="govuk-table__header">Uploaded by</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">

        {% for complaint in complaints %}

        {% if searchTerm == "" or complaint.ref == searchTerm %}

        <tr class="govuk-table__row">

          <th scope="row" class="govuk-table__header">
            {{ complaint.ref }}
          </th>

          <td class="govuk-table__cell">
            {{ complaint.date }}
          </td>

          <td class="govuk-table__cell">

            {% if complaint.status == "Upload failed" %}

            <strong class="govuk-tag govuk-tag--red">
              Upload failed
            </strong>

            {% else %}

            {{ complaint.status }}

            {% endif %}

          </td>


          <td class="govuk-table__cell">
            {{ complaint.file }}
          </td>

          <td class="govuk-table__cell">
            {{ complaint.user }}
          </td>

        </tr>

        {% endif %}

        {% endfor %}

      </tbody>
    </table>
    <nav class="govuk-pagination" aria-label="Pagination">

      <ul class="govuk-pagination__list">

        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
            1
          </a>
        </li>

        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
            2
          </a>
        </li>

        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
            3
          </a>
        </li>

      </ul>

      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next">
          <span class="govuk-pagination__link-title">
            Next<span class="govuk-visually-hidden"> page</span>
          </span>

          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg"
            height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path
              d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
            </path>
          </svg>
        </a>
      </div>

    </nav>


    {% endblock %}